*.iml
*.apk
Day1/.gradle
Day1/local.properties
Day1/.idea/libraries
Day1/.idea/modules.xml
Day1/.idea/workspace.xml
Day1/.DS_Store
Day1/build
Day1/captures
Day1/.externalNativeBuild
Day1/.idea

Day2/.gradle
Day2/local.properties
Day2/.idea/libraries
Day2/.idea/modules.xml
Day2/.idea/workspace.xml
Day2/.DS_Store
Day2/build
Day2/captures
Day2/.externalNativeBuild
Day2/.idea

Day3/.gradle
Day3/local.properties
Day3/.idea/libraries
Day3/.idea/modules.xml
Day3/.idea/workspace.xml
Day3/.DS_Store
Day3/build
Day3/captures
Day3/.externalNativeBuild
Day3/.idea


